{% extends 'layouts/app.twig' %}

{% block title %}
Home
{% endblock %}

{% block header %}
<div class="row align-items-center">
  <div class="col">
    <div class="page-pretitle">
      <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
      </ol>
    </div>
    <h2 class="page-title">
      Home
    </h2>
  </div>
  <div class="col-auto ms-auto d-print-none">
    <div class="btn-list">
      <a href="#" class="btn btn-primary d-none d-sm-inline-block">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        Create Data
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Home to Codeigniter</h3>
  </div>
  <div class="card-body">
    <p>
      The page you are looking at is being generated dynamically by
      CodeIgniter.
    </p>

    <p>If you would like to edit this page you'll find it located at:</p>
    <pre><code>modules/home/views/home.twig</code></pre>

    <p>The corresponding controller for this page is found at:</p>
    <pre><code>modules/home/controllers/HomeController.php</code></pre>

    <p>
      If you are exploring CodeIgniter for the very first time, you should
      start by reading the <a href="//codeigniter.com/userguide3/">User Guide</a>.
    </p>
  </div>
</div>
{% endblock %}