.DS_Store
.env
package-lock.json
composer.lock

src/cache/*
!src/cache/.gitkeep

src/logs/*
!src/logs/.gitkeep

!src/*/.htaccess

/vendor/
/node_modules/

# IDE Files
#-------------------------
.vscode/*
