.DS_Store

application/cache/*
!application/cache/.gitkeep

application/logs/*
!application/logs/.gitkeep

!application/*/.htaccess

composer.lock
package-lock.json

/vendor/
/node_modules/
/bin/

# IDE Files
#-------------------------
.idea/*
.vscode/*
