<div class="nav-item dropdown">
    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
        <span class="avatar avatar-sm bg-white" style="background-image: url(/img/user-circle.svg)"></span>
        <div class="d-none d-xl-block ps-2">
            <div>Damas Amirul Karim</div>
            <div class="mt-1 small text-muted">Web Developer</div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <a href="#" class="dropdown-item">Settings</a>
        <div class="dropdown-divider"></div>
        <a href="{{ base_url ('/auth/logout') }}" class="dropdown-item">Logout</a>
    </div>
</div>