<header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
    <div class="container-xl">
        <div class="navbar-nav flex-row order-md-last">
            {% include "layouts/partials/dropdown.twig" %}
        </div>
        <div class="collapse navbar-collapse">
            <div>
                
            </div>
        </div>
    </div>
</header>