<li class="nav-item">
    <a class="nav-link" href="{{ base_url ('/welcome') }}">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
            </svg>
        </span>
        <span class="nav-link-title">
            Welcome
        </span>
    </a>
</li>

<li class="nav-item active dropdown">
    <a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" data-bs-auto-close="false"
        role="button" aria-expanded="true">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="6" height="5" rx="2"></rect>
                <rect x="4" y="13" width="6" height="7" rx="2"></rect>
                <rect x="14" y="4" width="6" height="7" rx="2"></rect>
                <rect x="14" y="15" width="6" height="5" rx="2"></rect>
            </svg>
        </span>
        <span class="nav-link-title">
            Menu
        </span>
    </a>
    <div class="dropdown-menu show">
        <div class="dropdown-menu-columns">
            <div class="dropdown-menu-column">
                <a class="dropdown-item" href="#">
                    Sub Menu
                </a>
            </div>
        </div>
    </div>
</li>